version: '3'

x-resident: &resident
  restart: unless-stopped
  user: nobody
  logging:
    driver: json-file
    options:
      max-size: 128m
      max-file: 4

services:
  op-geth:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-op-geth:v1.0.0
    entrypoint: geth
    command: >
      --http
      --http.corsdomain='*'
      --http.vhosts='*'
      --http.addr=0.0.0.0
      --http.port=8545
      --http.api=web3,eth,net,engine
      --ws
      --ws.origins='*'
      --ws.addr=0.0.0.0
      --ws.port=8546
      --ws.api=debug,eth,net,engine
      --syncmode=full
      --gcmode=archive
      --cache=4096
      --nodiscover
      --maxpeers=0
      --networkid=$OP_CHAIN_ID
      --authrpc.vhosts='*'
      --authrpc.addr=0.0.0.0
      --authrpc.port=8551
      --authrpc.jwtsecret=/assets/jwt.txt
      --txpool.pricelimit=0
    environment:
      GETH_DATADIR: /data
    volumes:
      - ./assets:/assets
      - ./data/op-geth:/data
    ports:
      - $OP_ETH_RPC_HTTP_PORT:8545/tcp
      - $OP_ETH_RPC_WS_PORT:8546/tcp

  op-node:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-node:v1.0.0
    entrypoint: op-node
    environment:
      OP_NODE_L1_ETH_RPC: $L1_ETH_RPC_HTTP
      OP_NODE_L1_RPC_KIND: basic
      OP_NODE_L1_EPOCH_POLL_INTERVAL: 0
      OP_NODE_L1_HTTP_POLL_INTERVAL: 15s
      OP_NODE_L2_ENGINE_RPC: $OP_ENGINE_RPC
      OP_NODE_L2_ENGINE_AUTH: /assets/jwt.txt
      OP_NODE_ROLLUP_CONFIG: /assets/rollup.json
      OP_NODE_SEQUENCER_ENABLED: 'true'
      OP_NODE_SEQUENCER_L1_CONFS: 5
      OP_NODE_VERIFIER_L1_CONFS: 5
      OP_NODE_RPC_ENABLE_ADMIN: 'true'
      OP_NODE_RPC_ADDR: 0.0.0.0
      OP_NODE_RPC_PORT: 8547
      OP_NODE_RPC_ADMIN_STATE: /data/admin-state
      OP_NODE_SNAPSHOT_LOG: /data/snapshotlog
      OP_NODE_P2P_SEQUENCER_KEY: $P2P_SEQUENCER_KEY
      OP_NODE_P2P_PRIV_PATH: /data/p2p_priv.txt
      OP_NODE_P2P_LISTEN_TCP_PORT: $OP_ROLLUP_P2P_PORT
      OP_NODE_P2P_LISTEN_UDP_PORT: $OP_ROLLUP_P2P_PORT
      OP_NODE_P2P_DISCOVERY_PATH: memory
      OP_NODE_P2P_PEERSTORE_PATH: memory
      OP_NODE_P2P_NO_DISCOVERY: 'true'
    volumes:
      - ./assets:/assets
      - ./data/op-node:/data
    ports:
      - $OP_ROLLUP_P2P_PORT:$OP_ROLLUP_P2P_PORT/tcp
      - $OP_ROLLUP_P2P_PORT:$OP_ROLLUP_P2P_PORT/udp
    links:
      - op-geth

  op-batcher:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-batcher:v1.0.0
    entrypoint: op-batcher
    command: >
      --l1-eth-rpc=$L1_ETH_RPC_HTTP
      --l2-eth-rpc=$OP_ETH_RPC_WS
      --rollup-rpc=$OP_ROLLUP_RPC
      --private-key=$OP_BATCHER_KEY
      --max-channel-duration=1
      --max-pending-tx=4
      --num-confirmations=4
      --resubmission-timeout=60s
      --txmgr.receipt-query-interval=15s
    links:
      - op-geth
      - op-node

  op-proposer:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-proposer:v1.0.0
    entrypoint: op-proposer
    command: >
      --l1-eth-rpc=$L1_ETH_RPC_HTTP
      --rollup-rpc=$OP_ROLLUP_RPC
      --l2oo-address=$OP_L2OO_ADDR
      --private-key=$OP_PROPOSER_KEY
      --allow-non-finalized=true
      --num-confirmations=4
      --resubmission-timeout=60s
      --txmgr.receipt-query-interval=15s
    links:
      - op-node

  message-relayer:
    <<: *resident
    image: ghcr.io/oasysgames/opstack-message-relayer:v1.0.0
    command: ['./node_modules/.bin/tsx', './src/service.ts']
    stop_grace_period: 2m30s # wait for all the multi-call transactions to be processed
    environment:
      MESSAGE_RELAYER__LOG_LEVEL: info
      MESSAGE_RELAYER__LOOP_INTERVAL_MS: 5000
      MESSAGE_RELAYER__L1_RPC_PROVIDER: $L1_ETH_RPC_HTTP
      MESSAGE_RELAYER__L2_RPC_PROVIDER: $OP_ETH_RPC_HTTP
      MESSAGE_RELAYER__ADDRESS_MANAGER: $OP_AM_ADDR
      MESSAGE_RELAYER__L1_CROSS_DOMAIN_MESSENGER: $OP_L1CDM_ADDR
      MESSAGE_RELAYER__L1_STANDARD_BRIDGE: $OP_L1BRIDGE_ADDR
      MESSAGE_RELAYER__PORTAL_ADDRESS: $OP_PORTAL_ADDR
      MESSAGE_RELAYER__OUTPUT_ORACLE: $OP_L2OO_ADDR
      MESSAGE_RELAYER__MULTICALL_ADDRESS: 0x5200000000000000000000000000000000000022
      MESSAGE_RELAYER__PROVER_PRIVATE_KEY: $MR_PROVER_KEY
      MESSAGE_RELAYER__FINALIZER_PRIVATE_KEY: $MR_FINALIZER_KEY
      MESSAGE_RELAYER__STATE_FILE_PATH: /app/state/state.json
      MESSAGE_RELAYER__QUEUE_PATH: /app/store
    volumes:
      - ./data/message-relayer/state:/app/state
      - ./data/message-relayer/store:/app/store
    ports:
      - $RELAYER_HTTP_PORT:7300/tcp

  verse-verifier:
    <<: *resident
    image: ghcr.io/oasysgames/verse-verifier:v1.0.0
    entrypoint: >
      oasvlfy
        --config.cli
        --config.datastore=/data
        --config.hub.chain_id=$L1_CHAIN_ID
        --config.hub.rpc=$L1_ETH_RPC_HTTP
        --config.p2p.listens=/ip4/0.0.0.0/tcp/$VERIFIER_P2P_PORT
        --config.p2p.listens=/ip4/0.0.0.0/udp/$VERIFIER_P2P_PORT/quic
        --config.verse
        --config.verse.chain_id=$OP_CHAIN_ID
        --config.verse.rpc=$OP_ETH_RPC_WS
        --config.verse.l2oo=$OP_L2OO_ADDR
        --config.submitter
        --config.submitter.targets=$OP_CHAIN_ID
        --config.submitter.wallet.address=$VERIFY_SUBMITTER_ADDR
        --config.submitter.wallet.plain=$VERIFY_SUBMITTER_KEY
        $VERIFIER_EXTRA_ARGS
    command: start
    volumes:
      - ./data/verse-verifier:/data
    ports:
      - $VERIFIER_P2P_PORT:$VERIFIER_P2P_PORT/tcp
      - $VERIFIER_P2P_PORT:$VERIFIER_P2P_PORT/udp
