x-resident: &resident
  restart: unless-stopped
  user: nobody
  logging:
    driver: json-file
    options:
      max-size: 128m
      max-file: 4

services:
  op-geth:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-op-geth:v1.4.2
    entrypoint: geth
    environment:
      GETH_DATADIR: /data
      GETH_HTTP: 'true'
      GETH_HTTP_CORSDOMAIN: '*'
      GETH_HTTP_VHOSTS: '*'
      GETH_HTTP_ADDR: 0.0.0.0
      GETH_HTTP_PORT: 8545
      GETH_HTTP_API: net,eth,web3,miner
      GETH_WS: 'true'
      GETH_WS_ORIGINS: '*'
      GETH_WS_ADDR: 0.0.0.0
      GETH_WS_PORT: 8546
      GETH_WS_API: net,eth,web3,miner
      GETH_SYNCMODE: full
      GETH_GCMODE: archive
      GETH_CACHE: 4096
      GETH_NODISCOVER: 'true'
      GETH_MAXPEERS: 0
      GETH_NETWORKID: $OP_CHAIN_ID
      GETH_AUTHRPC_VHOSTS: '*'
      GETH_AUTHRPC_ADDR: 0.0.0.0
      GETH_AUTHRPC_PORT: 8551
      GETH_AUTHRPC_JWTSECRET: /assets/jwt.txt
      GETH_TXPOOL_PRICELIMIT: 0
      GETH_ROLLUP_SUPERCHAIN_UPGRADES: 'false'
      GETH_OVERRIDE_CANYON: $OP_OVERRIDE_CANYON
      GETH_OVERRIDE_ECOTONE: $OP_OVERRIDE_ECOTONE
      GETH_OVERRIDE_FJORD: $OP_OVERRIDE_FJORD
      GETH_OVERRIDE_GRANITE: $OP_OVERRIDE_GRANITE
      GETH_OVERRIDE_HOLOCENE: $OP_OVERRIDE_HOLOCENE
      GETH_OVERRIDE_ISTHMUS: $OP_OVERRIDE_ISTHMUS
    volumes:
      - ./assets:/assets
      - ./data/op-geth:/data
    ports:
      - $OP_ETH_RPC_HTTP_PORT:8545/tcp
      - $OP_ETH_RPC_WS_PORT:8546/tcp

  op-node:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-node:v1.3.1
    entrypoint: op-node
    environment:
      OP_NODE_L1_ETH_RPC: $L1_ETH_RPC_HTTP
      OP_NODE_L1_BEACON: $L1_BEACON_API
      OP_NODE_L1_RPC_KIND: basic
      OP_NODE_L1_EPOCH_POLL_INTERVAL: 192s
      OP_NODE_L1_HTTP_POLL_INTERVAL: 6s
      OP_NODE_L2_ENGINE_RPC: $OP_ENGINE_RPC
      OP_NODE_L2_ENGINE_AUTH: /assets/jwt.txt
      OP_NODE_ROLLUP_CONFIG: /assets/rollup.json
      OP_NODE_SEQUENCER_ENABLED: 'true'
      OP_NODE_SEQUENCER_L1_CONFS: 5
      OP_NODE_VERIFIER_L1_CONFS: 5
      OP_NODE_RPC_ENABLE_ADMIN: 'true'
      OP_NODE_RPC_ADDR: 0.0.0.0
      OP_NODE_RPC_PORT: 8547
      OP_NODE_SNAPSHOT_LOG: /data/snapshotlog
      OP_NODE_P2P_SEQUENCER_KEY: $P2P_SEQUENCER_KEY
      OP_NODE_P2P_PRIV_PATH: /data/p2p_priv.txt
      OP_NODE_P2P_LISTEN_TCP_PORT: $OP_ROLLUP_P2P_PORT
      OP_NODE_P2P_LISTEN_UDP_PORT: $OP_ROLLUP_P2P_PORT
      OP_NODE_P2P_DISCOVERY_PATH: memory
      OP_NODE_P2P_PEERSTORE_PATH: memory
      OP_NODE_P2P_NO_DISCOVERY: 'true'
      OP_NODE_OVERRIDE_CANYON: $OP_OVERRIDE_CANYON
      OP_NODE_OVERRIDE_DELTA: $OP_OVERRIDE_DELTA
      OP_NODE_OVERRIDE_ECOTONE: $OP_OVERRIDE_ECOTONE
      OP_NODE_OVERRIDE_FJORD: $OP_OVERRIDE_FJORD
      OP_NODE_OVERRIDE_GRANITE: $OP_OVERRIDE_GRANITE
      OP_NODE_OVERRIDE_HOLOCENE: $OP_OVERRIDE_HOLOCENE
      OP_NODE_OVERRIDE_ISTHMUS: $OP_OVERRIDE_ISTHMUS
    volumes:
      - ./assets:/assets
      - ./data/op-node:/data
    ports:
      - $OP_ROLLUP_P2P_PORT:$OP_ROLLUP_P2P_PORT/tcp
      - $OP_ROLLUP_P2P_PORT:$OP_ROLLUP_P2P_PORT/udp
    links:
      - op-geth

  op-batcher:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-batcher:v1.3.1
    entrypoint: op-batcher
    environment:
      OP_BATCHER_L1_ETH_RPC: $L1_ETH_RPC_HTTP
      OP_BATCHER_L2_ETH_RPC: $OP_ETH_RPC_WS
      OP_BATCHER_ROLLUP_RPC: $OP_ROLLUP_RPC
      OP_BATCHER_PRIVATE_KEY: $OP_BATCHER_KEY
      OP_BATCHER_MAX_CHANNEL_DURATION: 10 # close channel after 10 l1 blocks (packing approximately 1 minute of l2 blocks into a batch).
      OP_BATCHER_MAX_PENDING_TX: 4
      OP_BATCHER_NUM_CONFIRMATIONS: 4
      OP_BATCHER_RESUBMISSION_TIMEOUT: 60s
      OP_BATCHER_TXMGR_RECEIPT_QUERY_INTERVAL: 5s
    links:
      - op-geth
      - op-node

  op-proposer:
    <<: *resident
    image: ghcr.io/oasysgames/oasys-opstack/op-proposer:v1.3.1
    entrypoint: op-proposer
    environment:
      OP_PROPOSER_L1_ETH_RPC: $L1_ETH_RPC_HTTP
      OP_PROPOSER_ROLLUP_RPC: $OP_ROLLUP_RPC
      OP_PROPOSER_L2OO_ADDRESS: $OP_L2OO_ADDR
      OP_PROPOSER_PRIVATE_KEY: $OP_PROPOSER_KEY
      OP_PROPOSER_ALLOW_NON_FINALIZED: 'true'
      OP_PROPOSER_NUM_CONFIRMATIONS: 2
      OP_PROPOSER_RESUBMISSION_TIMEOUT: 60s
      OP_PROPOSER_TXMGR_RECEIPT_QUERY_INTERVAL: 5s
    links:
      - op-node

  op-message-relayer:
    <<: *resident
    image: ghcr.io/oasysgames/opstack-message-relayer:v1.0.4
    command: ['./node_modules/.bin/tsx', './src/service.ts']
    stop_grace_period: 2m30s # wait for all the multi-call transactions to be processed
    environment:
      MESSAGE_RELAYER__LOG_LEVEL: info
      MESSAGE_RELAYER__LOOP_INTERVAL_MS: 5000
      MESSAGE_RELAYER__L1_RPC_PROVIDER: $L1_ETH_RPC_HTTP
      MESSAGE_RELAYER__L2_RPC_PROVIDER: $OP_ETH_RPC_HTTP
      MESSAGE_RELAYER__L1_BLOCK_TIME_SECONDS: 6
      MESSAGE_RELAYER__ADDRESS_MANAGER: $OP_AM_ADDR
      MESSAGE_RELAYER__L1_CROSS_DOMAIN_MESSENGER: $OP_L1CDM_ADDR
      MESSAGE_RELAYER__L1_STANDARD_BRIDGE: $OP_L1BRIDGE_ADDR
      MESSAGE_RELAYER__PORTAL_ADDRESS: $OP_PORTAL_ADDR
      MESSAGE_RELAYER__OUTPUT_ORACLE: $OP_L2OO_ADDR
      MESSAGE_RELAYER__MULTICALL_ADDRESS: 0x5200000000000000000000000000000000000022
      MESSAGE_RELAYER__PROVER_PRIVATE_KEY: $MR_PROVER_KEY
      MESSAGE_RELAYER__FINALIZER_PRIVATE_KEY: $MR_FINALIZER_KEY
      MESSAGE_RELAYER__STATE_FILE_PATH: /app/state/state.json
      MESSAGE_RELAYER__QUEUE_PATH: /app/store
      MESSAGE_RELAYER__QUEUE_PATH_PROVER: /app/store-prover
    volumes:
      - ./data/message-relayer/state:/app/state
      - ./data/message-relayer/store:/app/store
      - ./data/message-relayer/store-prover:/app/store-prover
    ports:
      - $RELAYER_HTTP_PORT:7300/tcp

  verse-verifier:
    <<: *resident
    image: ghcr.io/oasysgames/verse-verifier:v1.2.7
    entrypoint: >
      oasvlfy
        --config.cli
        --config.datastore=/data
        --config.hub.chain_id=$L1_CHAIN_ID
        --config.hub.rpc=$L1_ETH_RPC_HTTP
        --config.p2p.listens=/ip4/0.0.0.0/tcp/$VERIFIER_P2P_PORT
        --config.p2p.listens=/ip4/0.0.0.0/udp/$VERIFIER_P2P_PORT/quic
        --config.verse
        --config.verse.chain_id=$OP_CHAIN_ID
        --config.verse.rpc=$OP_ETH_RPC_WS
        --config.verse.l2oo=$OP_L2OO_ADDR
        --config.submitter
        --config.submitter.targets=$OP_CHAIN_ID
        --config.submitter.wallet.address=$VERIFY_SUBMITTER_ADDR
        --config.submitter.wallet.plain=$VERIFY_SUBMITTER_KEY
        $VERIFIER_EXTRA_ARGS
    command: start
    volumes:
      - ./data/verse-verifier:/data
    ports:
      - $VERIFIER_P2P_PORT:$VERIFIER_P2P_PORT/tcp
      - $VERIFIER_P2P_PORT:$VERIFIER_P2P_PORT/udp
